.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.958496;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.946289;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.715820;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.930176;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._f{margin-left:-1789.991531px;}
._d{margin-left:-1734.695531px;}
._11{margin-left:-1529.423745px;}
._10{margin-left:-1522.583745px;}
._c{margin-left:-1518.051743px;}
._e{margin-left:-1513.871182px;}
._a{margin-left:-1499.459501px;}
._b{margin-left:-1492.165806px;}
._5{margin-left:-1.542622px;}
._6{width:1.459878px;}
._9{width:4.576000px;}
._8{width:37.539998px;}
._0{width:95.471714px;}
._1{width:230.165316px;}
._2{width:243.869316px;}
._4{width:248.075972px;}
._7{width:258.784000px;}
._3{width:268.753566px;}
.fcc{color:rgb(16,192,83);}
.fc3{color:rgb(77,62,47);}
.fcb{color:rgb(40,135,231);}
.fc8{color:rgb(89,89,89);}
.fc2{color:rgb(209,131,22);}
.fc1{color:rgb(150,20,94);}
.fc0{color:rgb(255,255,255);}
.fc4{color:rgb(255,0,0);}
.fca{color:rgb(255,255,0);}
.fc5{color:rgb(112,48,160);}
.fc6{color:rgb(139,170,0);}
.fc7{color:rgb(0,112,192);}
.fc9{color:rgb(230,255,119);}
.fsb{font-size:42.400002px;}
.fsa{font-size:60.000000px;}
.fs7{font-size:72.000000px;}
.fs9{font-size:80.000000px;}
.fse{font-size:82.000000px;}
.fs4{font-size:88.000000px;}
.fsd{font-size:96.000000px;}
.fs1{font-size:112.000000px;}
.fs3{font-size:124.000000px;}
.fs5{font-size:128.000000px;}
.fs6{font-size:136.000000px;}
.fs2{font-size:144.000000px;}
.fs8{font-size:160.000000px;}
.fs0{font-size:172.000000px;}
.fsc{font-size:240.000000px;}
.y0{bottom:0.000000px;}
.y7c{bottom:20.082275px;}
.y40{bottom:38.810211px;}
.y9a{bottom:45.766663px;}
.y7b{bottom:50.282288px;}
.y6b{bottom:54.877701px;}
.y3f{bottom:60.410217px;}
.yc2{bottom:72.382477px;}
.y99{bottom:73.566681px;}
.y8a{bottom:75.227203px;}
.y7a{bottom:80.482300px;}
.y5e{bottom:81.415863px;}
.yb3{bottom:82.456329px;}
.y6{bottom:83.299334px;}
.y6a{bottom:91.645706px;}
.y3e{bottom:93.010223px;}
.yc1{bottom:98.302460px;}
.y89{bottom:98.987213px;}
.y98{bottom:101.366699px;}
.yb2{bottom:105.496307px;}
.y44{bottom:106.187557px;}
.y43{bottom:107.518108px;}
.y13{bottom:110.407883px;}
.y79{bottom:110.682312px;}
.y5d{bottom:116.175873px;}
.y3d{bottom:125.610229px;}
.y5{bottom:128.044678px;}
.yb1{bottom:128.536285px;}
.y88{bottom:133.747223px;}
.y12{bottom:134.167892px;}
.yc0{bottom:135.222443px;}
.y51{bottom:138.078003px;}
.y78{bottom:140.882324px;}
.y5c{bottom:150.935883px;}
.yb0{bottom:151.576263px;}
.y97{bottom:154.446716px;}
.y87{bottom:157.507233px;}
.y11{bottom:157.927902px;}
.y3c{bottom:158.210236px;}
.ybf{bottom:161.142426px;}
.y50{bottom:162.746384px;}
.y77{bottom:171.082306px;}
.y69{bottom:173.992004px;}
.y4{bottom:174.484680px;}
.y1b{bottom:178.159988px;}
.y3b{bottom:179.810226px;}
.y10{bottom:181.687912px;}
.y96{bottom:182.246735px;}
.y4f{bottom:184.346375px;}
.yaf{bottom:185.616241px;}
.y5b{bottom:185.695892px;}
.ybe{bottom:187.062408px;}
.y76{bottom:190.282303px;}
.y86{bottom:192.267242px;}
.y27{bottom:194.212112px;}
.y1a{bottom:201.919998px;}
.yc8{bottom:205.572807px;}
.y4e{bottom:205.946365px;}
.y68{bottom:207.592010px;}
.yae{bottom:208.656219px;}
.y95{bottom:210.046753px;}
.y3a{bottom:212.410217px;}
.y85{bottom:216.027252px;}
.y26{bottom:217.972122px;}
.yf{bottom:218.823929px;}
.y5a{bottom:220.455902px;}
.y75{bottom:220.482300px;}
.y3{bottom:220.924683px;}
.ybd{bottom:223.982391px;}
.y19{bottom:227.105606px;}
.y4d{bottom:227.546356px;}
.yad{bottom:231.696228px;}
.y94{bottom:237.846771px;}
.ya2{bottom:238.502411px;}
.y67{bottom:241.192017px;}
.y25{bottom:241.732132px;}
.y31{bottom:242.342964px;}
.y39{bottom:245.010208px;}
.yc7{bottom:248.270500px;}
.y4c{bottom:249.146355px;}
.ybc{bottom:249.902374px;}
.y74{bottom:250.682297px;}
.y42{bottom:253.303509px;}
.yac{bottom:254.736237px;}
.y59{bottom:255.215912px;}
.y45{bottom:257.303417px;}
.y30{bottom:263.942963px;}
.ya1{bottom:264.422394px;}
.y93{bottom:265.646790px;}
.y18{bottom:266.920013px;}
.y2{bottom:267.364685px;}
.y73{bottom:269.882294px;}
.y4b{bottom:270.746353px;}
.y66{bottom:274.792023px;}
.ybb{bottom:275.822357px;}
.y24{bottom:276.492142px;}
.y38{bottom:277.610199px;}
.y2f{bottom:285.542961px;}
.y84{bottom:285.547272px;}
.yab{bottom:288.776245px;}
.y58{bottom:289.975891px;}
.yc6{bottom:290.968239px;}
.y4a{bottom:292.346352px;}
.y17{bottom:293.056015px;}
.y92{bottom:293.446793px;}
.ye{bottom:296.767960px;}
.y37{bottom:299.210190px;}
.y72{bottom:300.082291px;}
.y23{bottom:301.677742px;}
.ya0{bottom:303.243179px;}
.y65{bottom:308.392014px;}
.yaa{bottom:311.816254px;}
.yba{bottom:312.742355px;}
.y1{bottom:313.804691px;}
.y49{bottom:313.946350px;}
.y2d{bottom:314.342972px;}
.y71{bottom:319.282288px;}
.y83{bottom:320.307281px;}
.yd{bottom:320.527969px;}
.y57{bottom:324.735886px;}
.y2e{bottom:325.142971px;}
.y36{bottom:331.810188px;}
.yc5{bottom:333.665947px;}
.ya9{bottom:334.856262px;}
.y48{bottom:335.546349px;}
.y2c{bottom:335.942970px;}
.y16{bottom:336.240021px;}
.y70{bottom:338.482285px;}
.yb9{bottom:338.662369px;}
.y22{bottom:341.492149px;}
.y64{bottom:341.992020px;}
.yc{bottom:344.287979px;}
.y9f{bottom:346.427185px;}
.y91{bottom:346.526794px;}
.y41{bottom:350.698315px;}
.y82{bottom:355.067291px;}
.y47{bottom:357.146345px;}
.ya8{bottom:357.896263px;}
.y56{bottom:359.495880px;}
.y15{bottom:360.000019px;}
.y35{bottom:364.410187px;}
.yb8{bottom:364.582382px;}
.y21{bottom:365.252148px;}
.y2a{bottom:366.765179px;}
.y6f{bottom:368.682281px;}
.yc4{bottom:370.747669px;}
.y90{bottom:374.326797px;}
.y63{bottom:375.592026px;}
.y2b{bottom:377.565178px;}
.yb{bottom:381.423981px;}
.y14{bottom:386.136017px;}
.y29{bottom:388.365177px;}
.y81{bottom:389.827286px;}
.y20{bottom:390.437746px;}
.ya7{bottom:391.936264px;}
.y55{bottom:394.255867px;}
.y34{bottom:397.010187px;}
.y6e{bottom:398.882278px;}
.yb7{bottom:401.502396px;}
.y8f{bottom:402.126801px;}
.y46{bottom:404.335587px;}
.y62{bottom:409.192039px;}
.ya6{bottom:414.976265px;}
.y9e{bottom:416.422394px;}
.y80{bottom:424.587288px;}
.ya{bottom:424.607986px;}
.y28{bottom:425.189146px;}
.yb6{bottom:427.422394px;}
.y54{bottom:429.015862px;}
.y8e{bottom:429.926796px;}
.y33{bottom:434.850689px;}
.y6d{bottom:436.850689px;}
.y1d{bottom:437.642689px;}
.y1f{bottom:437.700962px;}
.ya5{bottom:438.016266px;}
.y9d{bottom:442.342392px;}
.y61{bottom:442.792038px;}
.y9{bottom:448.367985px;}
.yb5{bottom:453.342392px;}
.y8d{bottom:457.726791px;}
.y7f{bottom:459.347290px;}
.ya4{bottom:461.056267px;}
.y53{bottom:463.775860px;}
.yc3{bottom:467.283714px;}
.y8{bottom:472.127983px;}
.y32{bottom:474.426689px;}
.y60{bottom:476.392036px;}
.y6c{bottom:476.426689px;}
.y1c{bottom:478.442692px;}
.y1e{bottom:478.500965px;}
.y9c{bottom:479.262394px;}
.y7e{bottom:483.107288px;}
.y8c{bottom:485.526787px;}
.yb4{bottom:490.262394px;}
.y52{bottom:498.535856px;}
.ya3{bottom:505.527618px;}
.y5f{bottom:509.992041px;}
.y7{bottom:513.148403px;}
.y8b{bottom:513.326787px;}
.y9b{bottom:516.182394px;}
.y7d{bottom:517.867287px;}
.hd{height:30.495704px;}
.hc{height:43.154297px;}
.h7{height:50.906250px;}
.h8{height:51.785156px;}
.hf{height:57.500000px;}
.hb{height:57.539062px;}
.h12{height:58.697266px;}
.h11{height:63.250000px;}
.h4{height:63.292969px;}
.h13{height:67.875000px;}
.h10{height:69.046875px;}
.h2{height:80.554688px;}
.ha{height:89.185547px;}
.h5{height:92.062500px;}
.h6{height:97.816406px;}
.h3{height:103.570312px;}
.h9{height:115.078125px;}
.h1{height:123.708984px;}
.he{height:172.617188px;}
.h0{height:540.000000px;}
.w0{width:960.000000px;}
.x0{left:0.000000px;}
.x4{left:7.200104px;}
.x11{left:15.200012px;}
.xa{left:19.200012px;}
.x3{left:34.892303px;}
.x5{left:118.225769px;}
.x2{left:134.058258px;}
.x10{left:142.200012px;}
.x1{left:145.135193px;}
.x12{left:349.875046px;}
.x14{left:384.355469px;}
.x6{left:522.755554px;}
.xf{left:596.953018px;}
.x7{left:624.380764px;}
.x9{left:626.889553px;}
.x8{left:629.005764px;}
.xe{left:642.366169px;}
.x15{left:650.485352px;}
.xb{left:728.624954px;}
.x13{left:743.100319px;}
.xd{left:800.633781px;}
.xc{left:857.815994px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._f{margin-left:-2386.655375pt;}
._d{margin-left:-2312.927375pt;}
._11{margin-left:-2039.231660pt;}
._10{margin-left:-2030.111660pt;}
._c{margin-left:-2024.068991pt;}
._e{margin-left:-2018.494910pt;}
._a{margin-left:-1999.279334pt;}
._b{margin-left:-1989.554408pt;}
._5{margin-left:-2.056829pt;}
._6{width:1.946504pt;}
._9{width:6.101333pt;}
._8{width:50.053330pt;}
._0{width:127.295619pt;}
._1{width:306.887088pt;}
._2{width:325.159088pt;}
._4{width:330.767963pt;}
._7{width:345.045333pt;}
._3{width:358.338088pt;}
.fsb{font-size:56.533335pt;}
.fsa{font-size:80.000000pt;}
.fs7{font-size:96.000000pt;}
.fs9{font-size:106.666667pt;}
.fse{font-size:109.333333pt;}
.fs4{font-size:117.333333pt;}
.fsd{font-size:128.000000pt;}
.fs1{font-size:149.333333pt;}
.fs3{font-size:165.333333pt;}
.fs5{font-size:170.666667pt;}
.fs6{font-size:181.333333pt;}
.fs2{font-size:192.000000pt;}
.fs8{font-size:213.333333pt;}
.fs0{font-size:229.333333pt;}
.fsc{font-size:320.000000pt;}
.y0{bottom:0.000000pt;}
.y7c{bottom:26.776367pt;}
.y40{bottom:51.746948pt;}
.y9a{bottom:61.022217pt;}
.y7b{bottom:67.043050pt;}
.y6b{bottom:73.170268pt;}
.y3f{bottom:80.546956pt;}
.yc2{bottom:96.509969pt;}
.y99{bottom:98.088908pt;}
.y8a{bottom:100.302938pt;}
.y7a{bottom:107.309733pt;}
.y5e{bottom:108.554484pt;}
.yb3{bottom:109.941772pt;}
.y6{bottom:111.065778pt;}
.y6a{bottom:122.194275pt;}
.y3e{bottom:124.013631pt;}
.yc1{bottom:131.069946pt;}
.y89{bottom:131.982951pt;}
.y98{bottom:135.155599pt;}
.yb2{bottom:140.661743pt;}
.y44{bottom:141.583410pt;}
.y43{bottom:143.357478pt;}
.y13{bottom:147.210510pt;}
.y79{bottom:147.576416pt;}
.y5d{bottom:154.901164pt;}
.y3d{bottom:167.480306pt;}
.y5{bottom:170.726237pt;}
.yb1{bottom:171.381714pt;}
.y88{bottom:178.329631pt;}
.y12{bottom:178.890523pt;}
.yc0{bottom:180.296590pt;}
.y51{bottom:184.104004pt;}
.y78{bottom:187.843099pt;}
.y5c{bottom:201.247843pt;}
.yb0{bottom:202.101685pt;}
.y97{bottom:205.928955pt;}
.y87{bottom:210.009644pt;}
.y11{bottom:210.570536pt;}
.y3c{bottom:210.946981pt;}
.ybf{bottom:214.856567pt;}
.y50{bottom:216.995178pt;}
.y77{bottom:228.109741pt;}
.y69{bottom:231.989339pt;}
.y4{bottom:232.646240pt;}
.y1b{bottom:237.546651pt;}
.y3b{bottom:239.746969pt;}
.y10{bottom:242.250549pt;}
.y96{bottom:242.995646pt;}
.y4f{bottom:245.795166pt;}
.yaf{bottom:247.488322pt;}
.y5b{bottom:247.594523pt;}
.ybe{bottom:249.416545pt;}
.y76{bottom:253.709737pt;}
.y86{bottom:256.356323pt;}
.y27{bottom:258.949483pt;}
.y1a{bottom:269.226664pt;}
.yc8{bottom:274.097076pt;}
.y4e{bottom:274.595154pt;}
.y68{bottom:276.789347pt;}
.yae{bottom:278.208293pt;}
.y95{bottom:280.062337pt;}
.y3a{bottom:283.213623pt;}
.y85{bottom:288.036336pt;}
.y26{bottom:290.629496pt;}
.yf{bottom:291.765238pt;}
.y5a{bottom:293.941203pt;}
.y75{bottom:293.976400pt;}
.y3{bottom:294.566243pt;}
.ybd{bottom:298.643188pt;}
.y19{bottom:302.807475pt;}
.y4d{bottom:303.395142pt;}
.yad{bottom:308.928304pt;}
.y94{bottom:317.129028pt;}
.ya2{bottom:318.003215pt;}
.y67{bottom:321.589355pt;}
.y25{bottom:322.309509pt;}
.y31{bottom:323.123952pt;}
.y39{bottom:326.680278pt;}
.yc7{bottom:331.027334pt;}
.y4c{bottom:332.195140pt;}
.ybc{bottom:333.203166pt;}
.y74{bottom:334.243062pt;}
.y42{bottom:337.738012pt;}
.yac{bottom:339.648315pt;}
.y59{bottom:340.287882pt;}
.y45{bottom:343.071223pt;}
.y30{bottom:351.923950pt;}
.ya1{bottom:352.563192pt;}
.y93{bottom:354.195719pt;}
.y18{bottom:355.893351pt;}
.y2{bottom:356.486247pt;}
.y73{bottom:359.843058pt;}
.y4b{bottom:360.995138pt;}
.y66{bottom:366.389364pt;}
.ybb{bottom:367.763143pt;}
.y24{bottom:368.656189pt;}
.y38{bottom:370.146932pt;}
.y2f{bottom:380.723948pt;}
.y84{bottom:380.729696pt;}
.yab{bottom:385.034993pt;}
.y58{bottom:386.634521pt;}
.yc6{bottom:387.957652pt;}
.y4a{bottom:389.795135pt;}
.y17{bottom:390.741353pt;}
.y92{bottom:391.262390pt;}
.ye{bottom:395.690613pt;}
.y37{bottom:398.946920pt;}
.y72{bottom:400.109721pt;}
.y23{bottom:402.236989pt;}
.ya0{bottom:404.324239pt;}
.y65{bottom:411.189351pt;}
.yaa{bottom:415.755005pt;}
.yba{bottom:416.989807pt;}
.y1{bottom:418.406255pt;}
.y49{bottom:418.595133pt;}
.y2d{bottom:419.123962pt;}
.y71{bottom:425.709717pt;}
.y83{bottom:427.076375pt;}
.yd{bottom:427.370626pt;}
.y57{bottom:432.981181pt;}
.y2e{bottom:433.523961pt;}
.y36{bottom:442.413584pt;}
.yc5{bottom:444.887929pt;}
.ya9{bottom:446.475016pt;}
.y48{bottom:447.395131pt;}
.y2c{bottom:447.923960pt;}
.y16{bottom:448.320028pt;}
.y70{bottom:451.309713pt;}
.yb9{bottom:451.549825pt;}
.y22{bottom:455.322866pt;}
.y64{bottom:455.989360pt;}
.yc{bottom:459.050639pt;}
.y9f{bottom:461.902913pt;}
.y91{bottom:462.035726pt;}
.y41{bottom:467.597753pt;}
.y82{bottom:473.423055pt;}
.y47{bottom:476.195127pt;}
.ya8{bottom:477.195017pt;}
.y56{bottom:479.327840pt;}
.y15{bottom:480.000025pt;}
.y35{bottom:485.880249pt;}
.yb8{bottom:486.109843pt;}
.y21{bottom:487.002864pt;}
.y2a{bottom:489.020238pt;}
.y6f{bottom:491.576375pt;}
.yc4{bottom:494.330226pt;}
.y90{bottom:499.102397pt;}
.y63{bottom:500.789368pt;}
.y2b{bottom:503.420237pt;}
.yb{bottom:508.565308pt;}
.y14{bottom:514.848022pt;}
.y29{bottom:517.820236pt;}
.y81{bottom:519.769714pt;}
.y20{bottom:520.583661pt;}
.ya7{bottom:522.581685pt;}
.y55{bottom:525.674489pt;}
.y34{bottom:529.346916pt;}
.y6e{bottom:531.843038pt;}
.yb7{bottom:535.336528pt;}
.y8f{bottom:536.169067pt;}
.y46{bottom:539.114115pt;}
.y62{bottom:545.589386pt;}
.ya6{bottom:553.301687pt;}
.y9e{bottom:555.229858pt;}
.y80{bottom:566.116384pt;}
.ya{bottom:566.143982pt;}
.y28{bottom:566.918861pt;}
.yb6{bottom:569.896525pt;}
.y54{bottom:572.021149pt;}
.y8e{bottom:573.235728pt;}
.y33{bottom:579.800919pt;}
.y6d{bottom:582.467585pt;}
.y1d{bottom:583.523585pt;}
.y1f{bottom:583.601283pt;}
.ya5{bottom:584.021688pt;}
.y9d{bottom:589.789856pt;}
.y61{bottom:590.389384pt;}
.y9{bottom:597.823980pt;}
.yb5{bottom:604.456523pt;}
.y8d{bottom:610.302389pt;}
.y7f{bottom:612.463053pt;}
.ya4{bottom:614.741689pt;}
.y53{bottom:618.367813pt;}
.yc3{bottom:623.044952pt;}
.y8{bottom:629.503977pt;}
.y32{bottom:632.568919pt;}
.y60{bottom:635.189382pt;}
.y6c{bottom:635.235586pt;}
.y1c{bottom:637.923589pt;}
.y1e{bottom:638.001287pt;}
.y9c{bottom:639.016525pt;}
.y7e{bottom:644.143051pt;}
.y8c{bottom:647.369049pt;}
.yb4{bottom:653.683192pt;}
.y52{bottom:664.714475pt;}
.ya3{bottom:674.036825pt;}
.y5f{bottom:679.989388pt;}
.y7{bottom:684.197871pt;}
.y8b{bottom:684.435716pt;}
.y9b{bottom:688.243192pt;}
.y7d{bottom:690.489716pt;}
.hd{height:40.660939pt;}
.hc{height:57.539062pt;}
.h7{height:67.875000pt;}
.h8{height:69.046875pt;}
.hf{height:76.666667pt;}
.hb{height:76.718750pt;}
.h12{height:78.263021pt;}
.h11{height:84.333333pt;}
.h4{height:84.390625pt;}
.h13{height:90.500000pt;}
.h10{height:92.062500pt;}
.h2{height:107.406250pt;}
.ha{height:118.914062pt;}
.h5{height:122.750000pt;}
.h6{height:130.421875pt;}
.h3{height:138.093750pt;}
.h9{height:153.437500pt;}
.h1{height:164.945312pt;}
.he{height:230.156250pt;}
.h0{height:720.000000pt;}
.w0{width:1280.000000pt;}
.x0{left:0.000000pt;}
.x4{left:9.600138pt;}
.x11{left:20.266683pt;}
.xa{left:25.600016pt;}
.x3{left:46.523071pt;}
.x5{left:157.634359pt;}
.x2{left:178.744344pt;}
.x10{left:189.600016pt;}
.x1{left:193.513590pt;}
.x12{left:466.500061pt;}
.x14{left:512.473958pt;}
.x6{left:697.007406pt;}
.xf{left:795.937358pt;}
.x7{left:832.507685pt;}
.x9{left:835.852737pt;}
.x8{left:838.674352pt;}
.xe{left:856.488225pt;}
.x15{left:867.313802pt;}
.xb{left:971.499939pt;}
.x13{left:990.800425pt;}
.xd{left:1067.511709pt;}
.xc{left:1143.754659pt;}
}
